@media  screen and (min-width: 1200px) {

}

@media  screen and (min-width: 769px) and (max-width: 1199px){

    .first_screen_logo{
        width: 260px !important;
    }

    li{
        margin-right: 20px;
    }

     .appartments{
        grid-template-rows: auto !important;
        grid-row-gap: 30px !important;
        height: auto !important;
    }

     .appartments_item{
        width: 420px !important;
        height: 320px !important;
        background-repeat: no-repeat !important;
        background-position-x: center !important;
     }

    .img img {
        margin-top: 40px !important;
        margin-bottom: 130px  !important;
    }



    h5{
        margin-left:70px;
    }

    .cta{
        grid-template-columns: auto !important;
        grid-template-rows: 180px 75px !important;
    }

    .wrapper.fullwidth.wannasee{
        height:auto!important;
    }

    span.form{
        display: inline-block;
    }
    .form_end{
        width:100% !important;
    }

    form{
      display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
    }
    .wrapper{
        width: 100% !important;
    }

    .footer{
        grid-template-columns: 125px 187px 180px 300px !important;
        grid-column-gap: 0px !important
    }


}/*MEDIA*/
@media  screen and (max-width: 768px){

    header {
        background-size: auto !important;
        height: auto !important;

    }

    body {
        overflow-x: hidden !important;
    }
    .wrapper{
        width: auto !important;
    }

    /* ШАПКА*/
    .first_screen_menu ul {
        display: none !important;
    }
    .first_screen_logo {
        width: auto !important;
        margin-left: 10px !important;
    }

    h6 {
        font-size: 35px !important;
        line-height: 50px !important;
    }

    .img img {
        margin-top: 40px !important;
        margin-bottom: 130px  !important;
    }

    .contact{
        flex-direction:column !important;
    }

    span.placeholder{
        margin-bottom: 10px !important;
        margin-right:0 !important;
    }

                 /*ВИЗИТКА*/

    .testimonials{
        display: grid !important;
        grid-template-columns: auto auto !important;
        grid-template-rows: auto auto !important;
        grid-row-gap:50px;
        height: auto !important;
      
    }

    .testimonials_item{
        width:180px !important;
        height: auto !important;
        margin-right: 0;
        font-size: 19px !important;
    }

    .testimonials_item img{
        width: 70px !important;
        height: 70px !important;
        margin-bottom: 25px !important;

    }

    h5{
        font-size: 25px !important;
        text-align: center !important;
        margin-bottom: 20px !important;
    }

                /*Наши квартиры*/

    .appartments{
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        grid-row-gap: 30px !important;
        height: auto !important;
    }

     .appartments_item{
        width: auto !important;
        height: 320px !important;
        background-repeat: no-repeat !important;
        background-position-x: center !important;
     }

             /*Хотите посмотреть*/

    .wrapper.fullwidth.wannasee{
        height: 100% !important;

    }

    .cta{
        margin-bottom: 100px !important;
    }

    .cta , form{
        display: block !important;
        width: 100% !important;
    }
    .cta_heading {
        width: 300px !important;
        margin: 0 auto !important;
    }

    .cta_heading p{
        width: 100% !important;
    }

    span.form{
        margin-bottom: 30px !important;
    }

    .cta_heading_item{
        display: flex !important;
        flex-direction: column-reverse !important;
        align-items: center !important;
    }
    .cta_heading_item_{
        display: flex !important;
        flex-direction: column!important;
        align-items: center !important;

    }

    iframe{
        height:300px !important;
        width:-moz-available;
    }

    .form_end{
        width: auto !important;
    }

    form{
        display: flex !important;
        flex-direction: column!important;
        align-items: center !important;
    }

    input{
        margin-bottom: 30px !important;
    }

    .footer{
        grid-template-columns: auto !important;
    }

    .footer_logo{
      margin-left: 25px !important;
    }

    span , input , button {
        margin:10px !important;
    }




}/* MEDIA*/