@media  screen and (max-width: 480px){

    header {
        background-size: auto !important;
        height: auto !important;

    }

    body {
        overflow-x: hidden !important;
    }
    .wrapper{
        width: auto !important;
    }

                    /* ШАПКА*/
    .first_screen_menu ul {
        display: none !important;
    }
    .first_screen_logo {
        width: auto !important;
        margin-left: 10px !important;
    }

    h6 {
        font-size: 35px !important;
        line-height: 50px !important;
    }

    .img img {
        margin-top: 40px !important;
        margin-bottom: 130px  !important;
    }

    .contact{
        flex-direction:column !important;
    }

    span.placeholder{
        margin-bottom: 10px !important;
        margin-right:0 !important;
    }

                 /*ВИЗИТКА*/

    .testimonials{
        display: grid !important;
        grid-template-columns: auto auto !important;
        grid-template-rows: auto auto !important;
        grid-row-gap:50px;
        height: auto !important;
        padding:0 !important;
    }

    .testimonials_item{
        width:180px !important;
        height: auto !important;
        margin-right: 0;
        font-size: 19px !important;
    }

    .testimonials_item img{
        width: 70px !important;
        height: 70px !important;
        margin-bottom: 25px !important;

    }

    h5{
        font-size: 30px !important;
        text-align: center !important;
    }

                /*Наши квартиры*/

    .appartments{
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        grid-row-gap: 30px !important;
        height: auto !important;
    }

     .appartments_item{
        width: auto !important;
        height: 320px !important;
        background-repeat: no-repeat !important;
        background-position-x: center !important;
     }






}/* MEDIA*/