@media  screen and (max-width: 480px){

    header {
        background-size: auto !important;
        height: auto !important;

    }

    body {
        overflow-x: hidden !important;
    }
    .wrapper{
        width: auto !important;
    }

                    /* ШАПКА*/
    .first_screen_menu ul {
        display: none !important;
    }
    .first_screen_logo {
        width: auto !important;
        margin-left: 10px !important;
    }

    h6 {
        font-size: 35px !important;
        line-height: 50px !important;
    }

    .img img {
        margin-top: 40px !important;
        margin-bottom: 130px  !important;
    }

    .contact{
        flex-direction:column !important;
    }

    span.placeholder{
        margin-bottom: 10px !important;
        margin-right:0 !important;
    }

                 /*ВИЗИТКА*/

    .testimonials{
        display: grid !important;
        grid-template-columns: auto auto !important;
        grid-template-rows: auto auto !important;
        grid-row-gap:50px;
        height: auto !important;
        padding:0 !important;
    }

    .testimonials_item{
        width:180px !important;
        height: auto !important;
        margin-right: 0;
        font-size: 19px !important;
    }

    .testimonials_item img{
        width: 70px !important;
        height: 70px !important;
        margin-bottom: 25px !important;

    }

    h5{
        font-size: 25px !important;
        text-align: center !important;
        margin-bottom: 20px !important;
    }

                /*Наши квартиры*/

    .appartments{
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        grid-row-gap: 30px !important;
        height: auto !important;
    }

     .appartments_item{
        width: auto !important;
        height: 320px !important;
        background-repeat: no-repeat !important;
        background-position-x: center !important;
     }

             /*Хотите посмотреть*/

    .wrapper.fullwidth.wannasee{
        height: 100% !important;

    }

    .cta{
        margin-bottom: 100px !important;
    }

    .cta , form{
        display: block !important;
        width: 100% !important;
    }
    .cta_heading {
        margin: 0 46px 20px 46px;
    }

    .cta_heading p{
        width: 100% !important;
    }

    span.form{
        margin-bottom: 30px !important;
    }

    .cta_heading_item{
        display: flex !important;
        flex-direction: column-reverse !important;
        align-items: center !important;
    }
    .cta_heading_item_{
        display: flex !important;
        flex-direction: column!important;
        align-items: center !important;
    }

    iframe{
        height:300px !important;
        width:-moz-available;
    }

    .form_end{
        width: auto !important;
    }

    form{
        display: flex !important;
        flex-direction: column!important;
        align-items: center !important;
    }

    input{
        margin-bottom: 30px !important;
    }




}/* MEDIA*/